<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicio_dulceria' %}">
                        <i class="bi bi-house"></i> Inicio
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-candy"></i> Dulces
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_dulce' %}"><i class="bi bi-plus-circle"></i> Agregar Dulce</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_dulces' %}"><i class="bi bi-eye"></i> Ver Dulces</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Actualizar Dulce</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-trash"></i> Borrar Dulce</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-person"></i> Clientes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_cliente' %}"><i class="bi bi-plus-circle"></i> Agregar Cliente</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_clientes' %}"><i class="bi bi-eye"></i> Ver Clientes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-receipt"></i> Pedidos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_Pedido' %}"><i class="bi bi-plus-circle"></i> Agregar Pedidos</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_Pedido' %}"><i class="bi bi-eye"></i> Ver Pedidos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-person-badge"></i> Empleados
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_empleado' %}"><i class="bi bi-plus-circle"></i> Agregar Empleado</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_empleados' %}"><i class="bi bi-eye"></i> Ver Empleados</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-truck"></i> Proveedores
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_proveedor' %}"><i class="bi bi-plus-circle"></i> Agregar Proveedor</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_proveedores' %}"><i class="bi bi-eye"></i> Ver Proveedores</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-egg"></i> Ingredientes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_ingrediente' %}"><i class="bi bi-plus-circle"></i> Agregar Ingrediente</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_ingredientes' %}"><i class="bi bi-eye"></i> Ver Ingredientes</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
